.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: url("./images/stockmarketbackground.jpg")
  no-repeat center center fixed;
  background-size: cover;
}

#homeImage {
  height: 400px;
  border:3px solid black;
  border-radius: 10%;
  margin-top: 100px;
}

h1{
  padding-top:50px;
}

#home {
  padding-top: 120px;
  padding-bottom: 30px;
  font-weight:bold;
  margin-right: 30px
}

#button {
  margin-left: 50px;
  margin-right: 50px;
  width: 200px;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  border-radius: 30%;
  border:3px solid  black;
}

#button:hover {
  background-color: black;
  color: white;
}

#homeIndustry {
  padding-top: 120px;
  padding-bottom: 30px;
  padding-left: 300px;
  padding-right: 300px;
  font-weight:bold;
}

#links {
  color: white;
}

div #chart{
  padding-top:200px;
}

div #registerlogin {
  padding-top: 100px;
}

nav .nav-link {
  color: white;
}

nav .nav-link:hover {
  font-weight: bold;
}

.ag-theme-balham-dark {
  height: 780px;
  width: 600px;
  text-Align: left;
  margin: 0 auto;
}

#symbolSearch {
  width: 1812px;
  height: 70px;
}
#search-button {
  transition-duration: 0.5s;
}

#search-button:hover {
  background-color: rgb(0, 0, 0); 
  color: white;
}

#logoImage{
  width:30px;
  height:30px;
}

#chart {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}
