.App {
  font-family: sans-serif;
  text-align: center;
}

div #home {
  text-align: left;
}

/* Navigation/menu top bar */
nav .nav-link {
  color: white;
}

nav .nav-link:hover {
  font-weight: bold;
}

.ag-theme-balham-dark {
  height: 780px;
  width: 600px;
  text-Align: left;
}