.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: url("./images/stockmarketbackground.jpg")
  no-repeat center center fixed;
  background-size: cover;
}


h1{
  padding-top:50px;
}

#home {
  padding-inline: 150px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-top:100px;
  font-weight:bold;
}

a:link {
  color: white;
}

div #chart{
  padding-top:200px;
}

nav .nav-link {
  color: white;
}

nav .nav-link:hover {
  font-weight: bold;
}

.ag-theme-balham-dark {
  height: 780px;
  width: 600px;
  text-Align: left;
  margin: 0 auto;
}

#symbolSearch {
  width: 1812px;
  height: 70px;
}
#search-button {
  transition-duration: 0.5s;
}

#search-button:hover {
  background-color: rgb(0, 0, 0); 
  color: white;
}

#logoImage{
  width:30px;
  height:30px;
}

#chart {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}